@model List<AplicacionDeAdministracionPulperia.Model.DetalleVenta>

@{
    ViewData["Title"] = "Detalles de la Venta";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>IdDetalle</th>
            <th>IdVenta</th>
            <th>IdProducto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdDetalle</td>
                <td>@item.IdVenta</td>
                <td>@item.IdProducto</td>
                <td>@item.Cantidad</td>
                <td>@item.PrecioUnitario.ToString("C")</td>
                <td>@item.Subtotal.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
